
body {
    text-align: center;
    margin: 0;
}

.nav1 {
    background-color: #007bff;
    box-shadow: 0px 8px 16px rgba(82,97,115,0.16);
    width: 100%;
}

#homeLink {
    line-height: 1em;
    color: white;
    margin-left: 1em;
    text-align: left;
    border: 1px solid white;
}

.nav-item, .nav-item2 {
    color: white;
    margin-left: 1em;
}

.welcomeText {
    color: white;
}

.onHover {
    color: #1d399d;
}

.onHover:hover {
    background-color: #007bff;
    color: white;
}

.heroWrapper {
    background-image: linear-gradient(to right, #002d56, #007bff);
    height: 50em;
}

.heroDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-image: url(/images/web-dev.png);
    background-size: 68%;
    background-position: left;
    background-repeat: no-repeat;
}

.heroTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30em;
    width: 20em;
    margin-right: 3em;
    border-radius: 10px;
    text-align: right;
    color: white;
}

.heroTitle {
    margin-bottom: 1em;
}

#subTitle1 {
    display: inline-block;
    color: #1d399d;
    font-size: 2.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.subtextBoxContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: left;
    margin: 0;
}

.subtextBox1, .subtextBox2, .subtextBox3 {
    height: 100%;
    width: 20em;
    margin: 2em 3em;
    background-color: #377bff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(82,97,115,0.16);
    background-image: linear-gradient(to right, #3068e1, #377bff, #377bff, #377bff, #3068e1);
}

.subtextTitle1, .subtextTitle2, .subtextTitle3 {
    font-size: 2em;
    display: block;
    color: white;
    margin-top: 2.1em;
    margin-left: 1.5em;
    text-align: left;
}


.subtext {
    margin: 2em 3em;
    text-align: left;
}

.subtext3 {
    margin: 2em 3em;
    margin-bottom: 3em;
    text-align: left;
}

footer {
    text-align: center;
    height: 8em;
    width: 100%;
    background-color: #002d56;
    margin-top: 7em;
    padding-top: 2em;
}


.footerLink {
    color: white;
    margin: 0 .5em;
}

.footerText {
    margin-top: .8em;
    margin-bottom: 0;
}

p {
    color: white;
}

.icon {
    height: 40%;
}
