.postDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
    width: 70%;
    height: 40em;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    overflow-y: scroll;
    padding-bottom: 6em;
}

.commentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 3.2em;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: #1d399d;
    padding-top: 2em;
}

.commentEditForm {
    width: 80%;
    height: 50%;
}

.postTextDiv {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 98%;
    border-radius: 10px 10px 0 0;
    background-color: #1d399d;
}

.commentText1Div {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin: 0 auto;
    width: 95%;
    height: 85%;
    border-radius: 10px 10px 0 0;
    background-color: #1d399d;
}

.commentText2Div {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #1d399d;
}

.postForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 30em;
    margin: 2em auto;
    background-color: #1d399d;
    border-radius: 10px;
    padding: 1em 0;
}

.postForm2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 3em auto;
    background-color: #1d399d;
    border-radius: 10px;
    padding-top: 2em;
    z-index: 1;
}

.postForm3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 3em auto;
    background-color: #1d399d;
    border-radius: 10px;
    padding: 1em 0;
    /* padding-bottom: 2em; */
    z-index: 1;
}


.postbtn {
  margin: 1em 1em;
}

.editCommentBtn {
  margin: 1em 1em;
}

textarea {
  outline: none;
}

.textareaDiv1 {
  width: 95%;
  height: 90%;
}

.textareaDiv2 {
  width: 95%;
  height: 90%;
}

.textAreaPost {
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 16px rgba(82,97,115,0.16);
    margin: 0 auto;
    resize: none;
    overflow-y: scroll;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid grey;
}

.postSubText {
    margin: 2em 1em;
    /* margin-bottom: .5em; */
}

.commentSubText {
    margin: 2em 1em;
    /* margin-bottom: .5em; */
}

.postTextArea {
    overflow-y: scroll;
    height: 95%;
    resize: none;
    margin: 0 auto;
    width: 95%;
    padding: 2em;
    border-radius: 10px 10px 0 0;
    border: 1px solid grey;
}

.commentTextArea {
    overflow-y: scroll;
    margin: 0 auto;
    resize: none;
    height: 99%;
    width: 99%;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid grey;
}

.commentTextArea2 {
    overflow-y: scroll;
    margin: 0 auto;
    resize: none;
    height: 95%;
    width: 95%;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid grey;
}

.commentSubText {
  margin: 1.15em 1em;
}

#subText5 {
    padding-top: 5em;
    color: #1d399d;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 0;
    background-color: rgba(0, 123, 255, .1);
}

.forumBackground {
    margin: 0;
    background-color: rgba(0, 123, 255, .1);
    padding-top: 2em;
    padding-bottom: 8em;
}
