.postDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
    width: 50em;
    height: 20em;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    overflow-y: scroll;
}

.commentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: .5em;
    width: 40em;
    height: 14em;
    border-radius: 10px;
    color: white;
    background-color: #007bff;
}

.postTextDiv {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin: 0 auto;
    width: 50em;
    height: 16em;
    border-radius: 10px 10px 0 0;
    background-color: #1d399d;
}

.commentText1Div {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin: 0 auto;
    width: 40em;
    height: 10em;
    border-radius: 10px 10px 0 0;
    background-color: #1d399d;
}

.postForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45em;
    height: 14.5em;
    margin: 2em auto;
    background-color: #1d399d;
    border-radius: 10px;
}

.textAreaPost {
    width: 42em;
    box-shadow: 0px 8px 16px rgba(82,97,115,0.16);
    margin: 0 auto;
    /* margin-bottom: .5em; */
    resize: none;
    overflow-y: scroll;
}

.postSubText {
    margin: 0 1em;
    margin-bottom: .5em;
}

.postTextArea {
    overflow-y: scroll;
    height: 14.5em;
    resize: none;
    margin: 0 auto;
    width: 47em;
    padding: 2em;
}

.commentTextArea {
    overflow-y: scroll;
    margin: 0 auto;
    resize: none;
    height: 9em;
    width: 37em;
    padding: 1.5em;
}

#subText5 {
    padding-top: 5em;
    color: #1d399d;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 0;
    background-color: rgba(0, 123, 255, .1);
}

.forumBackground {
    margin: 0;
    background-color: rgba(0, 123, 255, .1);
    padding-top: 2em;
    padding-bottom: 8em;
}
